
body {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  }
  
  .background {
    background-image: url("./assets/images/concrete-texture.png");
  }

  /* .card:hover {
    background-color: lightgray;
  } */